*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body.noticias{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

div{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}



img{
    float: left;
}