.contenedor{
    display: flex; 
    align-items: center; 
    gap: 20px; 
    width: 70%;
    margin: 20px auto;
}

.cont{
    justify-content: center;
    align-items: center; 
}

.img{
    width: 300px; 
    height: auto;
    border-radius: 5px;
}

.texto {
    max-width: 1000px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
    overflow-x: hidden; 
}

.titular{
    color: orangered;
}

.link{
    color: orangered;
}

.textocentrado{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.otrotexto{
    justify-content: center;
    color: white;
}

.otrotexto2{
    justify-content: center;
    color: white;
}
